*

body{
    background: #3f3e39;
    padding:75px;
    text-align:center;
    font-family: 'monospace', sans-serif;
}

h1{
    color: #c0bb44;
    font-weight:100;
}

.btn{
    color:#c0bb44;
    background:rgba(0, 0, 0, 0.5);
    padding:10px 20px;
    font-size:12px;
    letter-spacing:2px;
    text-transform:uppercase;
}

.btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background: #c0bb44;
    padding:20px 20px; #000;
    color:#1b1b1b;
}
